.perlin-noise {
    position: relative;
}

.social-media-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2.3vh;
    position: relative;
    float: right;
    padding: 1vh 0;
}
